@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* button {
  @apply cursor-pointer bg-[white] shadow-[rgb(0_0_0_/_5%)_0_0_8px] tracking-[1.5px] uppercase text-[15px] transition-all duration-[0.5s] ease-[ease] px-10 py-[17px] rounded-[50px] border-0 hover:tracking-[3px] hover:bg-[hsl(261deg_80%_48%)] hover:text-white hover:shadow-[rgb(93_24_220)_0px_7px_29px_0px] active:tracking-[3px] active:bg-[hsl(261deg_80%_48%)] active:text-white active:shadow-[rgb(93_24_220)_0px_0px_0px_0px] active:translate-y-2.5 active:transition-[100ms];
} */

button{
  cursor: pointer;
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  /* background-color: white; */
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 1.5rem;
  transition: all 0.5s ease;


}

button:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
